.productsContainer {
  width: 100%;
  height: 380px;
  background-color:var(--gray72);
  border-radius: 16px;
  padding: 32px;
  text-align: center;
}

.productsContainer:hover{
  transform: scale(1.05);
  transition: ease-out 0.5s;
  height: 400px;
}

.productsImage {
  width: 100%;
  height: 224px;
  border-radius: 16px;
}

.productsImage:hover{
  transform: scale(1.05);
  transition: ease-out 0.5s;
}

.imageWidth {
  width: 100%;
  height: 100%;
}

.productsDeatils {
  font-family: Light;
  font-size: 17px;
}
.productsPrice {
  font-family: Regular;
  font-size: 18px;
}

.productsInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Media Query Start */

/* From 1023px to 1270px View Start */
@media screen and (min-width: 1023px) and (max-width: 1270px) {
  .productsContainer {
    padding: 24px;
  }
}
/* From 1023px to 1270px View End */
/* From 867px to 1023px View Start */
@media screen and (min-width: 867px) and (max-width: 1023px) {
  .productsContainer {
    padding: 24px;
  }
}
/* From 867px to 1023px View End */

/* From 550px to 867px View Start */

@media screen and (min-width: 550px) and (max-width: 867px) {
  .productsContainer {
    padding: 24px;
  }
  .productsDeatils {
    font-size: 16px;
  }
}
/* From 550px to 867px View Start */

/* From 550px View Start */
@media screen and (max-width: 550px) {
  .productsContainer {
    padding: 0px;
  }
  .productsImage {
    width: 100%;
    height: 248px;
  }

  .productsDeatils {
    font-size: 14px;
  }
}
/* From 550px View End */

/* From 320px View Start */
@media screen and (max-width: 320px) {
  .productsContainer {
    padding: 0px;
  }
  .productsImage {
    width: 100%;
    height: 248px;
  }

  .productsDeatils {
    font-size: 14px;
  }
}

/* From 320px View End */

/* Media Query End */
