/*<-----Home Page Design----->*/

/*<-----Banner Section Start----->*/
.bannerContainer {
  background-image: url('assets/Images/banner.svg');
  background-size: cover;
  height: 100vh;
}

.bannerInsideContainer {
  background: var(--blacktransparent);
  backdrop-filter: blur(8px);
  height: 100%;
  width: 100%;
}

.bannerDescription {
  max-width: 1440px;
  margin: auto;
  display: flex;
  color: var(--white);
  padding: 240px 300px 0px 300px;
}

.bannerHeadingLeft {
  font-family: 'Regular', sans-serif;
  font-size: 30px;
}

.bannerInfoRight {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.bannerInfoRightPara {
  width: 120%;
  color: var(--grey95);
  margin: auto;
  padding-top: 140px;
  font-family: Light;
  font-size: 17px;
}

.bannerInfoRightVideoDesc {
  display: flex;
  flex-direction: row;
  gap: 17px;
  width: 100%;
  margin: auto;
  font-family: Light;
  font-size: 16px;
  cursor: pointer;
}
/*<----- Banner Section End----->*/

/*<-----Return Section Start----->*/
.returnContainer {
  max-width: 1920px;
  margin: auto;
  background-color: var(--blue);
  text-align: center;
  padding: 64px 160px;
}

.returnContainerQuestion {
  font-family: Light;
  font-size: 30px;
  line-height: 40px;
  color: var(--white);
}

.returnContainerAnswer {
  font-family: Light;
  font-size: 30px;
  line-height: 40px;
  color: var(--white);
  border-bottom: 1px solid var(--white);
}

.returnItemInsideContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 32px;
}

.returnItemDescBlock {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.returnItemCloseBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.returnButtonStyles {
  width: 108px;
  height: 40px;
  background: var(--white);
  border: 1px solid var(--gray72);
  box-shadow: 0px 0px 16px var(--blacktransparent80);
  border-radius: 20px;
  font-family: 'Medium', sans-serif;
}

.returnItemHeading {
  font-family: 'Regular', sans-serif;
  font-size: 26px;
}

.returnItemDesc {
  font-family: 'Light', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: var(--nero);
  width: 524px;
}

.snoCodeInput {
  width: 524px;
  height: 48px;
  background: var(--white);
  border: 1px solid var(--gray100);
  border-radius: 8px;
  padding: 12px 16px;
}

.snoCodeInput:focus {
  border: 1px solid var(--blue);
  color: var(--gray100);
  outline: none;
}

.scanQrCodeText {
  text-align: center;
  font-family: 'Regular', sans-serif;
  color: var(--blue);
  text-decoration: underline var(--blue);
}

/*<----- Return Section End----->*/

/* <-----Features Section Start-----> */

.featuresTitleInfo {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 50px 160px;
  text-align: center;
}

.featureTitle {
  font-family: Regular;
  font-size: 40px;
}

.featureTitleDesc {
  font-family: Light;
  font-size: 16px;
  color: var(--nero);
}
/* <-----Features Section End-----> */

/* Products Section Start */
.productsMainContainer {
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: 64px 160px;
  justify-content: center;
}

.productsTitleInfo {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
}

.productsTitleHeading {
  font-family: Regular;
  font-size: 40px;
}
.productsTitleDesc {
  width: 50%;
  margin: auto;
  line-height: 26px;
  font-family: Light;
  font-size: 17px;
  color: var(--nero);
}

.browseProductsHeading {
  font-family: Medium;
  font-size: 16px;
  color: var(--blue);
  border-bottom: 1px solid var(--blue);
  width: 27%;
  margin: auto;
}

/* Products Section End */

/* questionAnswer Section Start */
.questionAnswerTitleInfo {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 100px 0px 64px;
  text-align: center;
}

.questionAnswerHeading {
  font-family: Regular;
  font-size: 40px;
  width: 30%;
  margin: auto;
}

.questionAnswerDesc {
  font-family: Light;
  line-height: 26px;
  width: 45%;
  margin: auto;
  color: var(--nero);
}

.letsTalk {
  font-family: Medium;
  font-size: 17px;
  color: var(--blue);
}
.letsTalkHeading {
  border-bottom: 2px solid var(--blue);
}
/* questionAnswer Section End */

/* Sustainability Section Start */
.sustainabilityContainer {
  background-image: url('assets/Images/sustainabilitybackground.svg');
  background-size: cover;
  height: 100vh;
}

.sustainabilityInsideContainer {
  display: flex;
  flex-direction: row;
  padding: 308px 300px;
  background: var(--blacktransparent);
  backdrop-filter: blur(8px);
  height: 100%;
  width: 100%;
}

.sustainabilityHeading {
  width: 452px;
  font-size: 48px;
  font-family: 'Regular', sans-serif;
  color: var(--white);
}

.sustainabilityDescContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 80px;
  color: var(--gray95);
}

.sustainabilityDesc {
  width: 420px;
  line-height: 24px;
  font-family: 'Light', sans-serif;
  font-size: 17px;
}
.learnMoreContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.learnMoreDesc {
  font-family: 'Regular', sans-serif;
  font-size: 16px;
  color: var(--gray95);
}

/* Sustainability Section End */

/* Collabarate Section Start */
.collabarateInsideContainer {
  display: flex;
  flex-direction: column;
  gap: 64px;
  text-align: center;
  padding: 100px 330px;
}
.collabarateHeading {
  max-width: 738px;
  margin: auto;
  text-align: center;
  line-height: 40px;
  font-family: 'Light', sans-serif;
  font-size: 30px;
  color: var(--blackfade);
}

.collabarateButtons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.collabarateBtnStyle {
  height: 100px;
  background-color: var(--gray95);
  border: 1px solid var(--gray72);
  border-radius: 84px;
  padding: 34px 84px;
}

.imageWrapperStyle {
  width: 80px;
  height: 32px;
}

.imgStyle {
  width: 100%;
  height: 100%;
}

/* Collabarate Section End */

/*<-----Home Page Design End-----> */

/*<----- Medi Query Start-----> */
/*<----- From 1024px to 1279px view Start----->  */
@media screen and (min-width: 1023px) and (max-width: 1270px) {
  /* Banner Section Start */
  .bannerDescription {
    padding: 130px 140px;
  }

  .bannerHeadingLeft {
    font-family: 'Regular', sans-serif;
    font-size: 20px;
    width: 50%;
    margin: auto;
  }

  .bannerInfoRightPara {
    width: 85%;
    margin: auto;
  }

  .bannerInfoRightVideoDesc {
    width: 85%;
    margin: auto;
  }

  /* Banner Section End */

  /* Return Section Start */
  .returnContainer {
    padding: 64px 80px;
    text-align: center;
  }
  /* Return Section End */

  /* <-----Features Section Start-----> */

  .featuresTitleInfo {
    padding: 100px 80px 0px;
  }

  .featureTitle {
    font-size: 40px;
  }

  /* <-----Features Section End-----> */

  /* Products Section Start */
  .productsMainContainer {
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding: 64px 80px;
    justify-content: center;
  }

  .productsTitleInfo {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .productsTitleHeading {
    font-size: 40px;
  }
  .productsTitleDesc {
    font-size: 16px;
  }

  /* Products Section End */

  /* questionAnswer Section Start */
  .questionAnswerTitleInfo {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 100px 190px 64px 190px;
    text-align: center;
  }

  .questionAnswerHeading {
    margin: auto;
    font-size: 40px;
    width: 55%;
  }

  .questionAnswerDesc {
    font-size: 16px;
    line-height: 24px;
    width: 86%;
    margin: auto;
  }

  .letsTalk {
    font-family: Medium;
    margin: auto;
  }
  /* questionAnswer Section End */

  /* Sustainability Section Start */

  .sustainabilityInsideContainer {
    display: flex;
    flex-direction: row;
    padding: 250px 180px;
  }

  .sustainabilityHeading {
    width: 452px;
    font-size: 48px;
  }

  .sustainabilityDesc {
    width: 420px;
    font-family: 'Light', sans-serif;
    line-height: 24px;
    font-size: 17px;
  }
  .learnMoreContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    color: white;
  }

  .learnMoreDesc {
    font-family: 'Regular', sans-serif;
    font-size: 16px;
  }

  /* Sustainability Section End */

  /* Collabarate Section Start */
  .collabarateInsideContainer {
    display: flex;
    flex-direction: column;
    gap: 64px;
    text-align: center;
    padding: 80px 150px;
  }
  .collabarateHeading {
    max-width: 960px;
    margin: auto;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
  }

  .collabarateButtons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
  }

  .collabarateBtnStyle {
    height: 100px;
    border-radius: 84px;
    padding: 34px 84px;
  }

  .imageWrapperStyle {
    width: 80px;
    height: 32px;
  }

  .imgStyle {
    width: 100%;
    height: 100%;
  }

  /* Collabarate Section End */
}
/*<----- From 1024px to 1279px view End----->  */

/*<----- From 868px to 1023px view Start-----> */
@media screen and (min-width: 867px) and (max-width: 1023px) {
  /* Banner Section Start */
  .bannerDescription {
    display: flex;
    flex-direction: column;
    padding: 100px 208px;
  }

  .bannerHeadingLeft {
    font-family: Regular;
    font-size: 25px;
    width: 100%;
  }
  .bannerInfoRight {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 20px 20px 20px 40px;
    font-size: 16px;
  }

  .bannerInfoRightPara {
    width: 100%;
    padding-top: 24px;
  }

  .bannerInfoRightVideoDesc {
    width: 100%;
    margin: auto;
  }

  /* Banner Section End */

  /* Return Section Start */
  .returnContainer {
    padding: 40px 60px;
    text-align: center;
  }
  /* Return Section End */

  /* <-----Features Section Start-----> */

  .featuresTitleInfo {
    padding: 80px 60px 0px;
  }

  .featureTitle {
    font-size: 36px;
  }

  .featureTitleDesc {
    font-size: 16px;
  }
  /* <-----Features Section End-----> */

  /* Products Section Start */
  .productsMainContainer {
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding: 64px 60px;
    justify-content: center;
  }

  .productsTitleInfo {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .productsTitleHeading {
    font-size: 36px;
  }
  .productsTitleDesc {
    font-size: 16px;
  }

  /* Products Section End */

  /* questionAnswer Section Start */
  .questionAnswerTitleInfo {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 80px 60px 56px 60px;
    text-align: center;
  }

  .questionAnswerHeading {
    margin: auto;
    font-size: 36px;
    width: 60%;
  }

  .questionAnswerDesc {
    font-size: 16px;
    line-height: 24px;
    width: 65%;
    margin: auto;
  }

  .letsTalk {
    font-family: Medium;
    margin: auto;
  }
  /* questionAnswer Section End */

  /* Sustainability Section Start */
  .sustainabilityContainer {
    background-image: url('assets/Images/sustainabilitybackgroundmobile.svg');
    background-size: cover;
    height: 100vh;
  }

  .sustainabilityInsideContainer {
    display: flex;
    flex-direction: column;
    padding: 240px 120px;
  }
  .sustainabilityHeading {
    width: 452px;
    margin: auto;
    font-size: 40px;
  }

  .sustainabilityDescContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 30px;
  }

  .sustainabilityDesc {
    width: 450px;
    margin: auto;
    padding: 0px 24px;
    line-height: 24px;
  }
  .learnMoreContainer {
    width: 450px;
    padding: 0px 24px;
    margin: auto;
  }

  .learnMoreDesc {
    color: var(--white);
  }

  /* Sustainability Section End */

  /* Collabarate Section Start */
  .collabarateInsideContainer {
    display: flex;
    flex-direction: column;
    gap: 64px;
    text-align: center;
    padding: 80px 150px;
  }
  .collabarateHeading {
    max-width: 960px;
    margin: auto;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
  }

  .collabarateButtons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
  }

  .collabarateBtnStyle {
    height: 100px;
    border-radius: 84px;
    padding: 34px 84px;
  }

  .imageWrapperStyle {
    width: 80px;
    height: 32px;
  }

  .imgStyle {
    width: 100%;
    height: 100%;
  }

  /* Collabarate Section End */
}
/*<----- From 868px to 1023px view End-----> */

/*<----- From 550px to 867px view Start-----> */
@media screen and (min-width: 550px) and (max-width: 868px) {
  /* Banner Section Start */
  .bannerContainer {
    background-image: url('assets/Images/mobilebanner.svg');
    background-size: cover;
    height: 100vh;
  }

  .bannerDescription {
    display: flex;
    flex-direction: column;
    padding: 120px 108px;
  }

  .bannerHeadingLeft {
    font-family: Regular;
    font-size: 16px;
    width: 100%;
    margin: auto;
  }
  .bannerInfoRight {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 20px 10px 20px 40px;
    font-size: 16px;
  }

  .bannerInfoRightPara {
    width: 100%;
    padding-top: 24px;
  }

  .bannerInfoRightVideoDesc {
    width: 100%;
    margin: auto;
  }
  /* Banner Section End */

  /* Return Section Start */
  .returnContainer {
    padding: 40px 32px;
    text-align: center;
  }
  /* Return Section End */

  /* <-----Features Section Start-----> */

  .featuresTitleInfo {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 80px 30px 0px;
    text-align: center;
  }

  .featureTitle {
    font-size: 30px;
  }

  .featureTitleDesc {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
  /* <-----Features Section End-----> */
  /* Products Section Start */
  .productsMainContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 32px 76px;
  }

  .productsTitleInfo {
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: start;
    padding: 24px;
    text-align: center;
  }

  .productsTitleHeading {
    font-family: Regular;
    font-size: 16px;
  }
  .productsTitleDesc {
    width: 80%;
    margin: auto;
    line-height: 24px;
    font-family: Light;
    font-size: 18px;
  }

  /* Products Section End */

  /* questionAnswer Section Start */
  .questionAnswerTitleInfo {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 80px 24px 32px 24px;
    text-align: center;
  }

  .questionAnswerHeading {
    margin: auto;
    font-size: 36px;
    width: 70%;
  }

  .questionAnswerDesc {
    font-size: 16px;
    line-height: 24px;
    width: 90%;
    margin: auto;
  }

  .letsTalk {
    font-family: Medium;
    margin: auto;
  }
  /* questionAnswer Section End */

  /* Sustainability Section Start */
  .sustainabilityContainer {
    background-image: url('assets/Images/sustainabilitybackgroundmobile.svg');
    background-size: cover;
    height: 100vh;
  }

  .sustainabilityInsideContainer {
    display: flex;
    flex-direction: column;
    padding: 240px 108px;
  }
  .sustainabilityHeading {
    width: 452px;
    margin: auto;
    font-size: 40px;
  }

  .sustainabilityDescContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 30px;
  }

  .sustainabilityDesc {
    width: 380px;
    margin: auto;
    padding: 0px 24px;
    line-height: 24px;
  }
  .learnMoreContainer {
    width: 380px;
    padding: 0px 24px;
    margin: auto;
  }

  .learnMoreDesc {
    color: var(--white);
  }

  /* Sustainability Section End */

  /* Collabarate Section Start */
  .collabarateInsideContainer {
    display: flex;
    flex-direction: column;
    gap: 48px;
    text-align: center;
    padding: 80px 32px;
  }
  .collabarateHeading {
    width: 100%;
    text-align: center;
    line-height: 34px;
    font-size: 34px;
  }

  .collabarateButtons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
  }

  .collabarateBtnStyle {
    height: 100px;
    padding: 26px 76px;
  }

  .imageWrapperStyle {
    width: 80px;
    height: 32px;
  }

  .imgStyle {
    width: 100%;
    height: 100%;
  }

  /* Collabarate Section End */
}
/*<-----From 550px to 867px view End-----> */

/*<----- From 550px View Start----->*/
@media screen and (max-width: 550px) {
  /* Banner start */
  .bannerContainer {
    background-image: url('assets/Images/mobilebanner.svg');
    background-size: cover;
    height: 100vh;
  }

  .bannerDescription {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 150px 40px;
  }

  .bannerHeadingLeft {
    font-family: Regular;
    font-size: 20px;
  }
  .bannerInfoRight {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 20px 20px 20px 30px;
    font-size: 16px;
  }

  .bannerInfoRightPara {
    width: 100%;
    padding-top: 24px;
  }
  /* Banner Start */

  /* Return Section Start */
  .returnContainer {
    padding: 32px 24px;
    text-align: start;
  }
  .returnContainerQuestion {
    font-size: 24px;
    line-height: 20px;
  }

  .returnContainerAnswer {
    font-family: Light;
    font-size: 24px;
    line-height: 40px;
    color: var(--white);
    border-bottom: 1px solid var(--white);
  }
  /* Return Section End */

  /* <-----Features Section Start-----> */

  .featuresTitleInfo {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 50px 24px 0px;
    text-align: start;
  }

  .featureTitle {
    font-size: 30px;
  }

  .featureTitleDesc {
    font-size: 16px;
    width: 100%;
  }

  /* <-----Features Section End-----> */

  /* Products Section Start */
  .productsMainContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 32px 10px;
  }

  .productsTitleInfo {
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: start;
    padding: 24px;
  }

  .productsTitleHeading {
    font-family: Regular;
    font-size: 30px;
  }
  .productsTitleDesc {
    width: 100%;
    line-height: 24px;
    font-family: Light;
    font-size: 16px;
  }

  .browseProducts {
    margin: auto;
  }

  /* Products Section End */

  /* questionAnswer Section Start */
  .questionAnswerTitleInfo {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 80px 24px 32px 24px;
    text-align: start;
  }

  .questionAnswerHeading {
    font-size: 28px;
    width: 100%;
  }

  .questionAnswerDesc {
    line-height: 24px;
    width: 100%;
  }

  .letsTalk {
    font-size: 16px;
    margin: auto;
  }
  /* questionAnswer Section End */

  /* Sustainability Section Start */
  .sustainabilityContainer {
    background-image: url('assets/Images/sustainabilitybackgroundmobile.svg');
    background-size: cover;
    height: 100vh;
  }

  .sustainabilityInsideContainer {
    display: flex;
    flex-direction: column;
    padding: 202px 24px;
  }

  .sustainabilityHeading {
    width: 100%;
    font-size: 40px;
  }

  .sustainabilityDescContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 24px;
  }

  .sustainabilityDesc {
    width: 100%;
    padding: 0px 24px;
    font-size: 16px;
  }
  .learnMoreContainer {
    width: 100%;
    padding: 0px 24px;
  }

  .learnMoreDesc {
    width: 100%;
    color: var(--white);
  }

  /* Sustainability Section End */

  /* Collabarate Section Start */
  .collabarateInsideContainer {
    display: flex;
    flex-direction: column;
    gap: 32px;
    text-align: start;
    padding: 80px 24px;
  }
  .collabarateHeading {
    width: 100%;
    text-align: start;
    line-height: 30px;
    font-family: 'Light', sans-serif;
    font-size: 20px;
    color: var(--blackfade);
  }

  .collabarateButtons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 12px;
  }

  .collabarateBtnStyle {
    width: 100%;
    height: 80px;
    padding: 24px 84px;
  }

  .imageWrapperStyle {
    width: 100%;
    height: 26px;
  }

  /* Collabarate Section End */
}
/*<----- From 550px View  End------> */

/*<----- From  320px View Start----->*/

@media screen and (max-width: 320px) {
  /* Banner Section Start */
  .bannerContainer {
    background-image: url('assets/Images/mobilebanner.svg');
    background-size: cover;
    height: 100vh;
  }

  .bannerDescription {
    display: flex;
    flex-direction: column;
    padding: 150px 24px;
  }

  .bannerHeadingLeft {
    font-family: Regular;
    font-size: 16px;
  }
  .bannerInfoRight {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 10px 20px 10px 30px;
    font-size: 16px;
  }

  .bannerInfoRightPara {
    width: 100%;
    padding-top: 24px;
  }
  /* Banner Section End */

  /* Return Section Start */
  .returnContainer {
    padding: 32px 24px;
    text-align: start;
  }
  .returnContainerQuestion {
    font-size: 16px;
    line-height: 20px;
  }

  .returnContainerAnswer {
    font-family: Light;
    font-size: 16px;
    line-height: 40px;
    color: var(--white);
    border-bottom: 1px solid #fff;
  }
  /* Return Section End */

  /* <-----Features Section Start-----> */

  .featuresTitleInfo {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 50px 24px 0px;
    text-align: start;
  }

  .featureTitle {
    font-size: 30px;
  }

  .featureTitleDesc {
    font-size: 16px;
  }
  /* <-----Features Section End-----> */

  /* Products Section Start */
  .productsMainContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 32px 10px;
  }

  .productsTitleInfo {
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: start;
    padding: 24px;
  }

  .productsTitleHeading {
    font-family: Regular;
    font-size: 30px;
  }
  .productsTitleDesc {
    width: 100%;
    line-height: 24px;
    font-family: Light;
    font-size: 16px;
  }

  .browseProducts {
    margin: auto;
  }

  /* Products Section End */

  /* questionAnswer Section Start */
  .questionAnswerTitleInfo {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 80px 24px 32px 24px;
    text-align: start;
  }

  .questionAnswerHeading {
    font-size: 28px;
    width: 100%;
  }

  .questionAnswerDesc {
    line-height: 24px;
    width: 100%;
  }

  .letsTalk {
    font-size: 16px;
    margin: auto;
  }
  /* questionAnswer Section End */

  /* Sustainability Section Start */
  .sustainabilityContainer {
    background-image: url('assets/Images/sustainabilitybackgroundmobile.svg');
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  .sustainabilityInsideContainer {
    display: flex;
    flex-direction: column;
    padding: 202px 24px;
  }

  .sustainabilityHeading {
    width: 280px;
    font-size: 30px;
  }

  .sustainabilityDescContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 24px;
  }

  .sustainabilityDesc {
    width: 280px;
    font-size: 16px;
    padding: 0px 10px 0px 30px;
  }
  .learnMoreContainer {
    width: 280px;
    padding: 0px 10px 0px 30px;
  }

  .learnMoreDesc {
    color: var(--white);
  }

  /* Sustainability Section End */

  /* Collabarate Section Start */
  .collabarateInsideContainer {
    display: flex;
    flex-direction: column;
    gap: 32px;
    text-align: start;
    padding: 80px 24px;
  }
  .collabarateHeading {
    width: 100%;
    text-align: start;
    line-height: 30px;
    font-family: 'Light', sans-serif;
    font-size: 20px;
    color: var(--blackfade);
  }

  .collabarateButtons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 12px;
  }

  .collabarateBtnStyle {
    width: 100%;
    height: 80px;
    padding: 24px 84px;
  }

  .imageWrapperStyle {
    width: 100%;
    height: 26px;
  }

  /* Collabarate Section End */
}
/*<------ From 320px View End-----> */

/* <----Medi Query End------> */
