.createAccountPageInsideContainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 32px 80px;
  max-width: 1440px;
  margin: auto;
}
.createAccountPageCloseBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.createAccountPageBackText {
  font-family: 'Medium', sans-serif;
  font-size: 14px;
  color: var(--blackfade);
}

.createAccountPageTitleInfo {
  text-align: center;
}

.createAccountPageTitle {
  font-family: 'Regular', sans-serif;
  font-size: 26px;
}
.createAccountPageAccountDesc,
.createAccountPageSignUpText {
  font-family: 'Light', sans-serif;
  font-size: 16px;
  color: var(--nero);
}
.createAccountPageSignUpText {
  border-bottom: 1px solid var(--blue);
  color: var(--blue);
}

.createAccountPageFormFields {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: auto;
}

.createAccountPageInputFields {
  width: 452px;
}

.emailContainer,
.passWordContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: 'Medium', sans-serif;
  font-size: 14px;
}

.forgotPassWordText {
  text-align: end;
  color: var(--blue);
  font-size: 14px;
}

.createAccountPageButtons {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: auto;
}

.createAccountPageButtonStyles {
  justify-content: center;
  width: 452px;
  height: 48px;
  color: var(--white);
  font-family: 'Medium', sans-serif;
  font-size: 16px;
  background-color: var(--blue);
  box-shadow: 0px 4px 16px var(--blacktransparent100);
  border: 1px solid var(--blue);
  border-radius: 8px;
}

.continueGoogleButton {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 452px;
  height: 48px;
  border: 1px solid var(--blackfade);
  color: var(--blackfade);
  font-family: 'Medium', sans-serif;
  font-size: 16px;
  box-shadow: 0px 4px 16px var(--blacktransparent100);
  border: 1px solid var(--blackfade);
  border-radius: 8px;
}

/* Media Query Start */

/* From View 550px View Start */
@media screen and (max-width: 550px) {
  .createAccountPageInsideContainer {
    display: flex;
    flex-direction: column;
    padding: 32px 24px;
  }

  .createAccountPageTitleInfo {
    text-align: start;
  }

  .createAccountPageTitle {
    font-size: 20px;
  }

  .createAccountPageFormFields {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .createAccountPageInputFields {
    width: 100%;
  }

  .createAccountPageFormFields {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0;
  }
  .createAccountPageButtons {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0;
  }

  .createAccountPageButtonStyles {
    width: 100%;
    height: 48px;
    /* padding: 12px 160px; */
  }
  .continueGoogleButton {
    width: 100%;
    height: 48px;
  }
}
/* From View 550px View End */

/* From 320px view start */
@media screen and (max-width: 320px) {
  .createAccountPageInsideContainer {
    display: flex;
    flex-direction: column;
    padding: 32px 24px;
  }

  .createAccountPageTitleInfo {
    text-align: start;
  }

  .createAccountPageTitle {
    font-size: 20px;
  }

  .createAccountPageFormFields {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .createAccountPageInputFields {
    width: 100%;
  }

  .createAccountPageFormFields {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0;
  }
  .createAccountPageButtons {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0;
  }

  .createAccountPageButtonStyles {
    width: 100%;
    height: 48px;
    /* padding: 12px 160px; */
  }
  .continueGoogleButton {
    width: 100%;
    height: 48px;
  }
  /* From 320px View End */
}
/* Media Query End */
