body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
  --white: #ffffff;
  --black: #000000;
  --blue : #1373FB;
  --gray72 : #EBEBEB;
  --blacktransparent50 : rgba(0, 0, 0, 0.5);
  --gray95: #F2F2F2;
  --nero: #202020;
  --blackfade:#505050;
  --grey: #808080;
  --lightgreen:rgba(3, 227, 139, 0.1);
  --lightblue:rgba(19, 115, 251, 0.1);
  --lightpink:rgba(250, 19, 99, 0.1);



}

@font-face {
  font-family: "Light";
  src: url("assets/Fonts/EuclidCircularB-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Medium";
  src: url("assets/Fonts/EuclidCircularB-Medium.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Regular";
  src: url("assets/Fonts/EuclidCircularB-Regular.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Semi-Bold";
  src: url("assets/Fonts/EuclidCircularB-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family:"Bold";
  src: url("assets/Fonts/EuclidCircularB-Bold.ttf");
  font-weight: 800;
}