*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    --white:#ffff;
    --black:#0000;
    --blue:#1373FB;
    --lightgrey:#f2f2f2;
    --blacktransparent:rgba(0,0,0,0.5);
    --grey92:#EBEBEB;
    --nero:#202020;
    
}

@font-face {
    font-family:"Light";
    src: url("assets/Fonts/Euclid\ Circular\ B\ Light.ttf");
    font-weight: 300;
}
@font-face {
    font-family:"Medium";
    src: url("assets/Fonts/Euclid\ Circular\ B\ Medium.ttf");
    font-weight: 400;
}

@font-face {
    font-family:"Regular";
    src: url("assets/Fonts/Euclid\ Circular\ B\ Regular.ttf");
    font-weight: 500;
}
@font-face {
    font-family:"SemiBold";
    src: url("assets/Fonts/Euclid\ Circular\ B\ SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family:"Bold";
    src: url("assets/Fonts/Euclid\ Circular\ B\ Bold.ttf");
    font-weight: 800;
}