.progressBarContainer {
  width: 100%;
  background-color: #f2f2f2;
  height: 4px;
  border-radius: 10px;
}

.progressBar {
  height: 4px;
  background-color: #00a0e3;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

/* Media query start */

@media screen and (max-width: 560px) {
  .progressBarContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
  }
}

@media (max-width: 320px) {
  .progressBarContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
  }
}

/* Media Query End */
